input:not(radio-inner), textarea, select {
  appearance: none;
  background-color: var(--input-base);
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);

  padding: .8125rem 1rem;
  font: var(--body-mid);

}

input[type="date"] {
  position: relative;
  color: var(--input-placeholder);
  font: var(--body-mid);
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

.input-wrapper {
  padding-block: 0.65625rem;
}