#app {
  display: grid;
  grid-template-columns: 33.6% 66.4%;
  height: 100vh;
  background-color: rgb(15,15,15);
  gap: 1.25rem;
  padding-inline: 1.25rem;
}

aside {
  background-image: url(../assets/img/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45.5rem;
  overflow: hidden;
  border-radius: 0.75rem;
  margin-top: 1.25rem;
  padding: 2rem;
  position: relative;

  & img {
    width: 3rem;
    height: 3rem;
  }

  & h1 {
    font: var(--logo);
    color: var(--pink) ;
    margin-top: 1rem;
  }

  & p {
    font: 300 1rem var(--font-body);
    color: var(--text-heading);
    margin-top: 1rem;
  }
}

main {
  background-color: var(--shape-backgroud);
  margin-block: 1.25rem;
  margin-right: 1.25rem;
  border-radius: 0.75rem;
  padding: 5rem 8.125rem;
  overflow: auto;
  
  & h1 {
    font: var(--heading-mid);
    color: var(--text-heading);
    margin-bottom: 2.5rem;
  }

   & .main-container  {
    max-width: 35rem;
    margin-right: auto;
  }




}

.calendar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font: var(--heading-sm);
  color: var(--text-heading);

  & svg path {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--input-placeholder);
  }
}

.personalizacao {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  gap: .75rem;
  font: var(--heading-sm);
  color: var(--text-heading) ;
  
  & svg path {
    width: 1.5rem;
    height: 1.5rem;

    stroke: var(--input-stroke);
  }
}

